.black{
background-color: red;
float: left;
width: 80px;
height: 70px;
margin: 0px 0px 0px 0px;
border: 1px solid #333;
}

.white{
background-color: yellow;
float: left;
width:80px;
height: 70px;
border: 1px solid #333;
}

body{
	position: absolute;
	left: 25%;
}
body{
	background: linear-gradient(to right,#ffce85,#30d5c8);
	}
