label{
	width: 100px;
	height: 100px;
	color: white;
	background: yellow;
	border-radius: 5px 0px 5px 0px ;
	font-size: 25px;	
}
.field{
	clear: both; text-align:left; line-height: 25px;
}

input {
float: right; padding-right: 30px;
position: absolute;
left:130px;
font-size: 20px;
}
.main{
	float: left;
}
body {
	background: url(3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 550px;
	bottom: 300px;
}
div{
	background-color: blue;
}


